@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image:url('assets/new-bg.jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}
